* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    background-color: #05051a;
    display: grid;
    place-items: center;
    border-radius: var(--slidersBorderRadius);
}

.wrapper {
    position: relative;
    height: var(--slidersHeight);
    width: var(--slidersWidth);
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: rgba(#fff, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    width: var(--slidersHeight);
    height: var(--slidersWidth);
    transform: translate(-50%, -50%) rotate(-90deg);
    border-radius: var(--slidersBorderRadius);
    overflow: hidden;
    cursor: row-resize;

    &[step] {
        background-color: transparent;
        background-image: repeating-linear-gradient(to right, rgba(#fff, .2), rgba(#fff, .2) calc(var(--slidersStep) - 3px), transparent var(--slidersStep));
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0;
        box-shadow: -20rem 0 0 20rem rgba(#fff, var(--slidersContrast));
    }

    &::-moz-range-thumb {
        border: none;
        width: 0;
        box-shadow: -20rem 0 0 20rem rgba(#fff, var(--slidersContrast));
    }
}

.sliderValue {
    display: grid;
    align-items: center;
    justify-content: center;
}