<div class="sliders">
    <app-slider class="slider" [enabled]="!isGameOver" #slider0></app-slider>
    <app-slider class="slider" [enabled]="!isGameOver" #slider1></app-slider>
    <app-slider class="slider" [enabled]="!isGameOver" #slider2></app-slider>
</div>
<div class="buttons">
    <div class="button">
        <button [disabled]="isGameOver" (click)="calculate()">Угадать!</button>
    </div>
    <div class="result">
        <label>Общее отклонение: {{delta}}</label>
    </div>
    <div class="tries">
        <label>Осталось попыток: {{MAX_TRIES - triesCounter}}</label>
    </div>
    <div class="randoms">
        @if (isGameOver) {
            <label>Загаданые значения: {{randomNumber0}}, {{randomNumber1}}, {{randomNumber2}}</label>
        }
    </div>
</div>