.sliders {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    margin: 20px;
    margin-left: 50px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.tries {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.endRound {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}