<div class="sliders">
    <app-slider class="slider" [enabled]="!isGameOver" #slider0></app-slider>
    <app-slider class="slider" [enabled]="!isGameOver" #slider1></app-slider>
    <app-slider class="slider" [enabled]="!isGameOver" #slider2></app-slider>
</div>
<div class="buttons">
    <div class="button">
        <button [disabled]="isGameOver" (click)="calculate()">GUESS!</button>
    </div>
    <div class="result">
        <label>Total deviation: {{delta}}</label>
    </div>
    <div class="tries">
        <label>Attempts left: {{triesLeft}}</label>
    </div>
    <div class="endRound">
        @if (isGameOver) {
            @if (delta === 0) {
                @if (triesLeft > 0) {
                    <label>You win ${{BASE_WIN_AWARD}} + ${{triesLeft}} = ${{triesLeft + BASE_WIN_AWARD}}. Congratulations!</label>
                } @else {
                    <label>You win ${{BASE_WIN_AWARD}}. Congratulations!</label>
                }
            } @else if (delta <= ALMOST_WIN_DELTA) {
                <label>Unfortunately, you lost, but were close to winning!</label>
            } @else {
                <label>You lose ${{BASE_LOSE}} (((</label>
            }
            <label>Picked values: {{randomNumber0}}, {{randomNumber1}}, {{randomNumber2}}</label>
            <label>Let's guess again! Good luck!</label>
        }
    </div>
</div>